.enlace {
    text-decoration: none;
    color: black;
}

.enlace:hover {
    text-decoration: underline;
}

.bg-azul {
    background-color: #1E324D;
}

.fondo {
    background-repeat: no-repeat;
    background-image: url("./fondo2.jpg");
    background-size: cover;
    background-position: absolute;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .fondo{
        background-image: none;
    }
}