<div class="vh-100 fondo">
    <app-nav-landing></app-nav-landing>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5 py-5">
                <mat-card>
                    <mat-progress-bar *ngIf="mensaje" mode="indeterminate" class="mb-3"></mat-progress-bar>
                    <h1 class="text-center fw-bolder">Recuperar contraseña</h1>
                    <form [formGroup]="myform">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" placeholder="Escriba su correo electrónico..">
                        </mat-form-field> <br>
                        <br>
                        <br>
                        <button mat-raised-button color="primary" class="w-100" (click)="sendEmail()"
                            [disabled]="myform.invalid">Ingresar</button>
                    </form>
                    <br>
                    <br>
                    <p class="text-center">Contacto: +51 932597220</p>
                </mat-card>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>