<div class="vh-100" id="fondo">
  <app-nav-landing></app-nav-landing>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <mat-card class="example-card p-5">

          <h1 class="text-center">
            MiDoc Virtual
          </h1>
          <h1 class="text-center">
            Restablecer Contraseña
          </h1>
          <form [formGroup]="myform">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Nueva contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass1" [autocomplete]="false">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>Repetir contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass2">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <p class="text-danger" *ngIf="(myform.get('pass1')!.value !=myform.get('pass2')!.value) &&
            (myform.get('pass1')?.touched && myform.get('pass2')?.touched)">Las contraseñas no coinciden
            </p>
          </form>
          <br>
          <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="myform.invalid" (click)="cambiarPassword()">Restablecer</button>
          </div>

        </mat-card>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>